body {
    background: rgba(0, 0, 0, 0.342);
    text-align: center;
    align-items: center;
    font-family: sans-serif;
  }
  p {
    color: black;
    text-align: center;
    align-items: center;
    font-family: sans-serif;
  }
  h1 {
    font-weight: bold;
    font-size:  45px;;
    text-align: center;
  align-items: center;
  font-family: sans-serif;
  }
  title {
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
  align-items: center;
  font-family: sans-serif;
  }

